-# edit.html.haml using partial
%h2 Edit Existing Item

= form_tag items_path(@item), :method => :put do

  = label :item, :title, 'Title'
  = text_field :item, 'title'

  = label :item, :description, 'Decription'
  = text_field :item, 'description'

  = label :item :checked_out, 'Checked Out;
  = text_field :item, 'checked_out'

  = label :item :quantity, 'Total Quantity'
  = text_field :item, 'quantity'

  = submit_tag 'Update Item Info', :class => 'btn btn-primary'