-#  This file is app/views/item/index.html.haml
%h1 All Inventory items

%table#inventory
  %thead
    %tr
      %th= sortable "Item Name"
      %th Description
      %th= sortable  "Checked Out"
      %th= sortable "Total Quantity"
      %th= sortable "Remaining"
      %th More Details
  %tbody
    - @item.each do |item|
      %tr
        %td= item.title
        %td= item.description
        %td= item.checked_out
        %td= item.quantity
        %td= (item.quantity - item.checked_out)
        %td= link_to "Details about #{item.title}", item_path(item)
