-# in app/views/item/show.html.haml

%h3 Details about #{@item.title}

%ul#details
  %li
    Checked Out:
    = @item.checked_out
  %li
    Total Quantity:
    = @item.quantity
  %li
    Remaining:
    = @item.remaining
%h4 Description:

%p#description= @item.description

= link_to 'Edit', edit_item_path(@item)
= button_to 'Delete', item_path(@item), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= link_to 'Back to item list', item_path