-#  This file is app/views/movies/index.html.haml
%h1 Inventory Items

= form_tag movies_path, :id => "ratings_form", :method => :get do
  Include:
  - @all_ratings.each do |rating, checked|
    = rating
    = check_box_tag "ratings[#{rating}]", nil, checked
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#inventory
  %thead
    %tr
      %th{:class => ("hilite" if @sort == 'item')}
        =link_to "Item", inventory_path(:sort => :item), :id => "item_header:
      %th CheckedOut
      %th Total
      %th Remaining
  %tbody
    - @inventory.each do |inventory|
      %tr
        %td= inventory.item
        %td= inventory.checked_out
        %td= inventory.total
        %td = (inventory.total - inventory.checked_out)