-# This file is app/views/users/index.html.haml
%h1 Users

- if can? :create, @user
  %button= button_to 'Create New User', {:controller => 'users', :action => 'add'}, {:method => 'get'}

%table#users
  %thead
    %tr
      %th Username
      %th Email
      %th Permission
  %tbody
    - @users.each do |user|
      - if current_user.nil?
        %tr
          %td
          = ""
          %td
          = ""
          %td
          = ""
      - elsif current_user.permission == 0
        - if user.username == current_user.username
          %tr
            %td
              = link_to "#{user.username}", user_path(user)
            %td
              = user.email
            %td
              = user.permission
      - else
        %tr
          %td
            = link_to "#{user.username}", user_path(user)
          %td
            = user.email
          %td
            = user.permission

%button= button_to 'Back to Inventory', {:controller => 'items', :action => 'index'}, {:method => 'get'}